.about {
    padding: 120px 0;

    &__info {
        width: 891px;

        font-size: 30px;

        span {
            font-weight: 600;
        }
    }

    &__reasons {
        display: grid;
        grid-template-columns: repeat(auto-fit, 260px);
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 20px;

        margin-top: 60px;

        &-item {
            font-size: 18px;
            color: #141024B3;

            span {
                font-size: 70px;
                font-weight: 600;
                color: $main-color;
            }
        }
    }
}