.trainers {
    overflow: hidden;

    padding-top: 120px;

    &__slider {
        margin-top: 60px;

        &-content {
            display: flex;
            justify-content: flex-start;
            column-gap: 40px;

            margin: 0 auto;
        }

        &-controllers {
            display: flex;
            justify-content: space-between;

            width: 90px;

            margin: 0 auto;
            margin-top: 60px;
        }

        &-item {
            width: 360px;

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 9px;

                margin-top: 20px;
            }

            &__major {
                font-size: 18px;
                color: #141024B3;
            }

            button {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .trainers {
        padding: 80px 0;
   
        &__slider-item {
            width: 300px;

            &__photo {
                height: 417px;
            }

            &__major {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .trainers {
        padding: 60px 0;

        &__slider-content {
            column-gap: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .trainers {
   
        &__slider {

            &-item {
                width: 220px;
    
                &__photo {
                    height: 306px;
                }
    
                &__info {
                    row-gap: 10px;
                }
    
                &__major {
                    font-size: 14px;
                }
    
                button {
                    font-size: 16px;
                }
            }

            &-controllers {
                margin-top: 40px;
            }
        }
    }
}