.trainers {
    padding: 120px 0 15px 0;

    &__slider {
        margin-top: 60px;

        &-content {
            overflow: hidden;

            display: flex;
            justify-content: flex-start;
            column-gap: 40px;

            margin: 0 auto;
        }

        &-controllers {
            display: flex;
            justify-content: space-between;

            width: 90px;

            margin: 0 auto;
            margin-top: 60px;
        }

        &-item {
            position: relative;

            width: 360px;
            // border-radius: 28px;

            // padding: 5px;

            // transition: all .2s;

            &__photo {
                // width: 350px;
                border-radius: 24px;
            }

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 9px;

                margin-top: 20px;

            }

            &__major {
                font-size: 18px;
                color: #141024B3;
            }

            button {
                margin-top: 20px;
            }

            &:hover {
                // box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
                
                cursor: pointer;

                // scale: (1.05);
                // transition: all .2s;
            }
        }
    }
}

