.header {
    position: absolute;

    width: 100%;
    height: 108px;

    padding: 30px 40px;

    z-index: 100;

    &__wrapper {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 1200px;

        margin: 0 auto;
    }

    &__phone {

        &_mobile {
            display: none;
        }
    }
}

.logo,
a {
    color: #fff;

    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.nav__menu {

    #menu-phone {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;

        width: 324px;

        list-style-type: none;

        a {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.hamburger {
    display: none;
    z-index: 111;

    flex-direction: column;
    justify-content: space-between;

    width: 40px;
    height: 40px;

    padding: 12px 9px;

    cursor: pointer;

    transition: all .6;

    span {
        display: block;
        
        width: 100%;
        height: 3px;
        background-color: #fff;

        transition: all .6s;
    }

    &_active {
        transition: all .6s;

        :nth-child(1) {
            transform: translateY(6px) rotate(45deg);
        }

        :nth-child(2) {
            width: 0;
        }

        :nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }

        span {
            transition: all .6s;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        height: 100px;
    }

    .logo, 
    a {
    color: #fff;

    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    }

    .nav__menu {

        ul {
            display: flex;
            justify-content: space-between;
    
            max-width: 284px;
        
            a {
                font-size: 16px;
            }
        }
    }

    .header__phone {
        display: none;

        &_mobile {
            display: block;
            
            height: 40px;

            img {
                width: 40px;
                background-color: #fff;
                border-radius: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {

        &__phone_mobile {
            margin-right: 50px;
        }
    }
    .nav__menu {
        position: fixed;
        top: -30px;
        right: -100%;
        z-index: 110;

        background-color: #000;

        transition: all .6s;

        &_active {
            right: -40px;
        }

        #menu-phone {
            display: block;

            margin: 0 auto;
        }

        ul {
            flex-direction: column;
            justify-content: center;

            width: 500px;
            height: 100vh;

            padding: 20px;

            li {
                margin: 20px 0;

                text-align: center;

                a {
                    font-size: 30px;
                }
            }

        }
    }

    .hamburger {
        position: absolute;
        right: 0;

        display: flex;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 8px 10px;

        height: unset;

        .logo {
            font-size: 18px;
            }
    }
}