.promo {
    position: relative;

    background-color: #000;

    padding-top: 170px;

    color: #fff;

    &__wrapper {
        position: relative;

        display: flex;
        justify-content: space-between;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 516px;
        height: 326px;

        margin-top: 236px;

        &-subtitle {
            max-width: 478px;

            font-size: 20px;
            font-weight: 400;
        }
    }

    &__photo {
        max-width: 600px;
        object-fit: contain;
    }
}